.app {
    width: 80%;
    margin: 0 auto;
}

.custable {
    border-collapse: collapse;
    border-spacing: 0; 
}

.custable {
border-collapse: separate;
border-spacing: 0;
float: center;
color: #4a4a4d;
font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
width: 40%;
}

.uplcustable {
  border-collapse: separate;
  border-spacing: 0;
  border: #4a4a4d;
  border-style: solid;
  float: center;
  color: #4a4a4d;
  font: 12px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 40%;
  }

.dividerWidth {
  width: 100%;
}

.sectionRoot {
  padding-left: 20px;
}

.floatRight {
  float: right;
}

.custr {
    overflow-x: scroll;
  }
  .spannHeader {
    padding: 15px 15px;
    font-family: Lato;
    line-height: 24px;
    font-size: 14px;
    text-align: left;
    display: block;
    float: left;
    width: 150px;
    cursor: pointer;
  }
  .spannHeaderContainer {
    height: 60px;
    padding: 30px
  }
  .spann {
    /* padding: 15px 15px; */
    font-family: Lato;
    line-height: 24px;
    font-size: 13px;
    text-align: left;
    display: block;
    float: left;
    width: 150px;
    cursor: pointer;
  }
  .custd {
    /* padding: 5px 5px; */
    margin: 15px;
    vertical-align: middle;
    font-family: Lato;
    line-height: 24px;
    font-size: 14px;
    text-align: left;
    border-style: solid;
  }
 
  .uplcustbody {
    max-width: 90%;
    background: #f0f0f2;
    color: black;
  }
  .custbody {
    max-width: 100%;
  }
  .custbody tr:nth-child(odd) {
    background: #f0f0f2;
    color: black;
  }
  .custbody tr:hover {
    background: black;
    color: whitesmoke;
  }
  .custbutton {
    background: black;
    color: whitesmoke;
    padding: 5px;
    border-radius: 5px; 
  }
  .custd {
    padding: 15px 15px;
    border-radius: 0%
  }
  
.pagination {
    margin-top: 25px;
}

.pagination span {
    cursor: pointer;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }
  
  .pagination span.active {
    background-color: #0099FF;
    color: white;
    border: 1px solid #0099FF;
  }

  .showingJobsCustomer {
    padding: 5px;
    font-size: 0.9em;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 6px;
    float: left;
    border: 1px solid #d0d0d0
  }
