/* 
  .filter-form {
    height: 300px;
    width: 200px;
    border: solid 1px gold;
    overflow: auto;
  }
  .filter-item {
    background: gold;
    height: 30px;
    padding: 5px 10px;
    color: goldenrod;
    border-bottom: solid 1px goldenrod;
  } */
  /* .filter-options {
    display: flex;
    margin-bottom: 20px;
  }
  .filter-option {
    margin: 0 10px;
  }
  label, select {
    margin-right: 10px;
  } */
  .associateFilterOptionsContainer {
    display: flex
  }

  .associate-filter {
    width: 50%;
    margin-right: 10px;
    display: flex
  }
  .associateLabel {
    padding-top: 7px;
    font-size: 0.9em;
  }
  .collapsibleContainer {
    margin-top: 20px
  }

  .itemsHeader {
    /* height: 55px;
    
    padding-top: 20px; */
    display: flex;
    margin-left: 55px;
  }

  .handleUploadSheet {
    width: 90%
  }

  .jobContainer {
    width: 100%
  }

  .jobFilterBox {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
  }

  .custFilterBox {
    display: flex;
    justify-content: flex-start;
    margin: 15px;
  }

  .showingJobs {
    height: 40px;
    padding: 5px;
    font-size: 0.9em;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #d0d0d0
  }